## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 2

2) Imprimir el tipo de dato de la constante 8.5

In [6]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [8]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [9]:
nombre = "Damián"

5) Crear una variable que contenga un número complejo

In [10]:
z = 2 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
type(z)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [12]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
verdadero1 = "True"
verdadero2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [27]:
print("La variable 'verdadero1' es del tipo ", type(verdadero1) )
print('La variaqble "verdadero2" es del tipo ', type(verdadero2))

La variable 'verdadero1' es del tipo  <class 'str'>
La variaqble "verdadero2" es del tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [29]:
suma = 5 + 3.79
print(suma)

8.79

11) Realizar una operación de suma de números complejos

In [34]:
z1 = 5 + 3.1j
z2 = 1.6 + 5.7j
z3 = z1 + z2

print(z3)

(6.6+8.8j)

12) Realizar una operación de suma de un número real y otro complejo

In [1]:
a = 5.8
b = 5 + 5j
c = a + b
print(c)

(10.8+5j)

13) Realizar una operación de multiplicación

In [3]:
print(5*7.3)

36.5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [5]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [8]:
a = 27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [11]:
a = 27//4
print(a)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [12]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [13]:
print(6*4 +3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [15]:
var1 = "Hola"
var2 = "mundo"

var1 + " " + var2

'Hola mundo'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [16]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [20]:
# 2 == int("2")
str(2) == "2"

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [24]:
a = float("3.8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [25]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [16]:
print(1 >> 2)
print(1 << 2)

print(1 >> 3)
print(1 << 3)

print(255 >> 1)
print(255 << 1)

0
4
0
8
127
510

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [2]:
2+'2'
print(2+2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [6]:
a = 2 + int("2")
b = str(2) + "2"
print(a, b)

4 22